<!DOCTYPE html>
<html>
    <head>
        <title> ABout me Quiz</title>
    </head>
    
    <body>
        <h1> How well do you know me - kAvYa edition</h1>
        
    </body>
    
    <form method = "POST" action="/results">
        <h2> what's my favorite meat</h2>
        <input type = "radio" name = "meat" value = "0">Bacon <br>
        <input type = "radio" name = "meat" value = "1">Tofurkey <br>
        <input type = "radio" name = "meat" value = "10">nomeatimvegeterianbishhhh <br>
        
        <h2> whats my fav texmex food </h2>
        <input type = "radio" name = "texmex" value = "3">quesidillas <br>
        <input type = "radio" name = "texmex" value = "3">tacos <br>
        <input type = "radio" name = "texmex" value = "3">burrito <br>
        <input type = "radio" name = "texmex" value = "10">gorl i don't discriminate <br>
        
        <h2> do i like old taylor or new taylor </h2>
        <input type = "radio" name = "taylor" value = "0">neither <br>
        <input type = "radio" name = "taylor" value = "5">old <br>
        <input type = "radio" name = "taylor" value = "5">new <br>
        <input type = "radio" name = "taylor" value = "10">both <br>
      
          <br>
          <button type = "submit">Check how well you know me! </button>
        
        
         </form>
         
</html>